{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} Teams {% endblock %}</h1></span>
    <div class="content">
        {% for team in teams %}
            <div class="team">
                <div align="center">
                  <p>
                    <a href="{{ url_for('team', team_id=team.id)}}">                      
                        {{ team.team_name }}
                    </a>
                  </p> 
                </div>
                <!-- <hr> -->
            </div>
        {% endfor %}
    </div>
{% endblock %}